.main {
    background: url('/public/assets/battle-back.webp') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: normal;
}




